body{
  	background-image: url('bg1.jpg');
 	background-size: cover;
 	background-attachment: fixed;
}

.img-full {  max-width: 90%;  height: auto; } 

img.navicon{
	padding: 5px 10px;
	height: 40px;
	float: left;
}

img.navpic{
	width: 100%;
}

.topnav{
	background-color: rgb(72, 209, 204, 0.5);
	overflow: hidden;
	size: cover;
    top: 0;
    width: 100%;
}

.topnav-right {
    float: right;
    font-family: 'Noto Serif', serif;
}

.topnav-right a{
	float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-right a:hover {
    background-color: #ddd;
    color: black;
}

.topnav-right a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
	padding: 5px 5px;
    float: left;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 5px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    padding: 6px 10px;
    margin-top: 5px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topbnav .search-container button:hover {
    background: #ccc;
}

.footer {
    background: rgb(119, 136, 153);
    text-align: right;
    position: fixed;
  	left: 0;
 	bottom: 0;
  	width: 100%;
  	color: white;
}

.content{
	margin-left: 200px;
	margin-right: 200px;
}

a.newpo{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a.newpo:hover{
    background-color: #ddd;
    color: black;
}

a.newpo:active {
    background-color: #2196F3;
    color: white;
}

.top-bar {
    margin: 0;
    overflow: hidden;
    background-color: skyblue;
    padding: 0 40px;
    font-family: 'Oswald', sans-serif;
}

.form-control {
    width: 100%;
    height: 80px;
}

.btn{
    overflow: hidden;
    padding: 6px 10px;
    margin-top: 5px;
    margin-right: 16px;
    margin-bottom: 5px;
    background: #ddd;
    font-size: 15px
}

.formcontent {
    background-color: #F6F6EF;
    overflow: hidden;
    font-size: 15px
}

.mb-3{
    font-size: 20px;
}

#comments{
    background-color: white;
}

.form-label{
    font-size: 15px
}

.yourinput{
    background-color: white;
}

.info{
    color: grey;
    font-size: 10px;
}

.posttime{
    color: grey;
    font-size: 10px;
    float:right;
}

.postcontent{
    font-size: 20px;
	font-family: 'Lora', serif;
}


