/*  This css file contains responsible for styling of forum page */

/* Set the navbar to fixed position */
/* Background image */
body{
  background-image: url('bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* Icon */
img.navicon{
  padding: 5px 10px;
  height: 40px;
  float: left;
}

/* Picture right under the navigation bar */
img.navpic{
  width: 100%;
}

/* Navigation Bar */
.topnav{
  background-color: rgb(72, 209, 204, 0.8);
  overflow: hidden;
  size: cover;
  top: 0;
  width: 100%;
}

/* Right hand side of the navigation bar */
.topnav-right {
  float: right;
  font-family: 'Noto Serif', serif;
}

/* Action of the buttons on the navigation bar */
.topnav-right a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right a.active {
  background-color: #2196F3;
  color: white;
}

/* The search bar on the navigation bar */
.topnav .search-container {
  padding: 5px 5px;
  float: left;
}

/* Input inside the search bar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 5px;
  font-size: 17px;
  border: none;
}

/* Search button of the search bar */
.topnav .search-container button {
  padding: 6px 10px;
  margin-top: 5px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* Change of color when the button of the search bar hovered by the mouse */
.topbnav .search-container button:hover {
  background: #ccc;
}

/* Footer */
.footer {
  background: rgb(119, 136, 153);
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

/* Setting Margin of the content */
.content{
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}

/* New post button in the navigation bar */
a.newpo{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Color change of the button */
a.newpo:hover{
  background-color: #ddd;
  color: black;
}

a.newpo:active {
  background-color: #2196F3;
  color: white;
}

/* styling of the list of the forum */
#forumList {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
  background: rgb(127, 255, 212, 0.45);
}

#forumList {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#forumList th, #myTable td {
  text-align: left;
  padding: 12px;
}

#forumList tr {
  border-bottom: 1px solid #ddd;
}

#forumList tr.header, #myTable tr:hover {
  background: rgb(72, 209, 204, 0.6);
}


/* Styling of the page footer */
footer {
  background: rgb(119, 136, 153, 0.4);
  text-align: right;
}
