<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>My Page</title>
    <link href="test_style.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="headerBtn"><a href="index">Home</a></li>
                <li class="headerBtn"><a href="tech">Tech</a></li>
                <li class="headerBtn"><a href="login">Login</a></li>
            </ul>
        </nav>
        <h1>Login Success</h1>
    </header>
    <br></br>
    <h1> Congrat </h1>
</body>
</html>