<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>My Page</title>
    <link href="style.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="headerBtn"><a href="index">Home</a></li>
                <li class="headerBtn"><a href="tech">Tech</a></li>
                <% if(!loggedin) { %>
                <li class="headerBtn"><a href="login">Login</a></li>
                <% } else { %>
                <li class="headerBtn"><a href="logout">Logout</a></li>
                <% } %>
            </ul>

        </nav>
        <h1>Home</h1>
    </header>
    <p><%= greeting %></p>
    <section class="blogPhotos">
        <figure>
            <img src="https://cdn.keyakizaka46.com/files/14/diary/k46/member/moblog/202005/mobIBebd9.jpg" alt="image" >
        </figure>
        <% if(loggedin) { %>
            <form>
                <div class="leaderbord">
                    <div class="lb_name">
                        <b>Leaderboard</b>
                        <table>
                            <% for(var i in leaderboard_record) { %>
                                
                                    <tr>
                                        <td><%=parseInt(i)+1%>.</td> 
                                        <%var name =  JSON.stringify(leaderboard_record[i].name).replace(/"/g, ''); %>
                                        <td><%=name%></td>  
                                        <td><%= JSON.stringify(leaderboard_record[i].credit) %></td>
                                    </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </form>
        <% } %>
    </section>
    <section>Lovely Dog</section>
</body>
</html>
