<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>My Page</title>
    <link href="style.css" rel="stylesheet"/>
    <% if(locals.wrong) { %>
        <script src="warning.js"></script>
    <% } %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li class="headerBtn"><a href="index">Home</a></li>
                <li class="headerBtn"><a href="tech">Tech</a></li>
                <li class="headerBtn"><a href="login">Login</a></li>
            </ul>
        </nav>
        <h1>Login</h1>
    </header>
    <br></br>
    <form method="POST" action="/process-login">
        <label for="username"> Username</label>
        <input type="text" name="username">
        <br></br>
        <label for="password"> Password</label>
        <input type="password" name="password">
        <input type="submit" value="submit">
    </form>
    <br></br>
    <!-- <button type="button" name="registration">Do not have account</button> -->
    <form action="reg">
        <input type="submit" value="Do not have account" />
    </form>

</body>
</html>