<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>My Page</title>
    <link href="style.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="headerBtn"><a href="index">Home</a></li>
                <li class="headerBtn"><a href="tech">Tech</a></li>
                <li class="headerBtn"><a href="login">Login</a></li>
            </ul>
        </nav>
<h1>Tech</h1>
</header>
<section class="blogPhotos">
<div class="row">
<div class="column">
<figure>
<img alt="image" src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg"/><br></br>
<caption>html5</caption>
</figure>
</div>
<div class="column">
<figure>
<img alt="image" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"/><br></br>
<caption>css</caption>
</figure>
</div>
<div class="column">
<figure>
<img alt="image" src="https://miro.medium.com/max/875/1*LjR0UrFB2a__5h1DWqzstA.png"/><br></br>
<caption>javascript</caption>
</figure>
</div>
<div class="column">
<figure>
<img alt="image" src="https://coralogix.com/wp-content/uploads/2018/04/Coralogix-Nodejs-integration.jpg"/><br></br>
<caption>nodejs</caption>
</figure>
</div>
<div class="column">
<figure>
<img alt="image" src="https://miro.medium.com/max/875/1*XP-mZOrIqX7OsFInN2ngRQ.png"/><br></br>
<caption>expressjs</caption>
</figure>
</div>
<div class="column">
<figure>
<img alt="image" src="https://pbs.twimg.com/profile_images/1255113654049128448/J5Yt92WW_400x400.png"/><br></br>
<caption>mysql</caption>
</figure>
</div>
</div>
</section>
</body></html>