<!DOCTYPE html>
<html>
<head>
	<title>Answering Post</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="AnswerPost.js"></script>
</head>
<body>
	<div class="container">
		<div id="comments"> 
			<div id="c1001" class="d-flex"></div>
		</div>
		<hr>
		<h6>Add your comment:</h6>
		<form>
			<div class="mb-3">
				<label for="new-comment" class="form-label">Comment</label>
				<textarea class="form-control" id="new-comment" rows="3"></textarea>
			</div>
			<button type="button" class="btn btn-primary" onclick="processform()">Add comment</button>
		</form>
	</div>
	<div class="GainCredit">
		<!--Gain Credit by answering question in CUPS-->
	</div>
</body>
</html>