<!-- 
Create New Thread Page 
for student/teacher to ask a question 
-->


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CUPS - New Content</title>
        <link rel="icon" href="CUPSicon1.ico" type="image/x-icon/">
        <link rel="stylesheet" href="Project.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
        <script src="AnswerPost.js"></script>
    </head>
    <body>
       <!-- Top navigation bar -->
       
        <nav class="sticky-top">
            <div class="topnav">
                <a href="/forum">
                    <img class="navicon" src="CUPSicon1.ico">
                </a>
                
                <a href="/newthread" class="newpo"><b>New Post </b><i class="fa fa-edit"></i> </a>
                <% if(IS_TEACHER) {%>
                    <a href="/newtask" class="newpo"><b>New Task </b><i class="fa fa-edit"></i> </a>
                    <%}%>
                <div class="topnav-right">
                
                <a href="/profile"><i class="fa fa-user"></i></a>
                <a href="/logout"><i class="fa fa-sign-out"></i></a>
            </div>
            </div>
        </nav>
        <img class="navpic" src="navpic.jpg">
        <div class="content">
		<!-- comment submission removed-->
		<!-- Create a new thread "form" (for both student/teacher)-->
            <div class="top-bar">
                <h1>Ask your question!</h1>
            </div>
            <div class="main">
                <form method = "POST" class="formcontent" action="/process-newthread" enctype="multipart/form-data" onsubmit="return checkPost()"> 
                    <fieldset>
                        <legend>New Post:</legend>
                        <label for="qname">Question:</label>
                        <input type="text" id="qname" name="question"><br><br>

                        <label for="classnum">Class:</label>
                        <input type="text" id="classnum" name="cl"><br><br>
                        <label for="textcontent">Content:</label>
                        <textarea name="content" id="content"  cols="50" rows="10"></textarea>
                        <br><br>

                        <label for="graphics">Select image:</label>
                        <input type="file" id="graphics" name="graphics" accept="image/*">
                        <br /><br />

                        <label for="credit">Credit offer (1-10):</label>
                        <input type="number" min="1" max="10" id="credit" name="credit"><br><br>
                        <input class="btn" type="submit" name="" value="Submit">
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="footer">
            This website was built on <time>2021-04-14</time>. <b>© CSCI3100 Group F6</b>
        </div>
    </body>
</html>
