<body>
    
        <div class="top-bar">
            <h1>
                CUPS - Test only
            </h1>
        </div>
        <div class="main">
            <ol>
                <h4><a href="profile">Profile</a></h4>
                <h4><a href="question">Questions</a></h4>
                <h4><a href="task">Tasks</a></h4>
            </ol>
        </div>
        <div class="top-bar">
            <h1>
                Reference2 only (Task page)
            </h1>
        </div>
        <div class="main">
            <ol>
            </ol>
        </div>
        <script src="CreatePost_data.js"></script>
        <script>
            console.log(threads);
            var container = document.querySelector('ol');
            <div class="subforum">
                <div class="subforum-title">
                    <h1>CUPS Homepage</h1>
                </div>
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="newthread">Ask new questions (For student)</a></h4>
                        <p>A sample student ask question page</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="newthread">Last post</a></b> by <a href="newthread">stu</a>
                        <br>on <small>17 Mar 2021</small>
                            </div>
                    </div>
                    <hr class="subforum-devider">
                        <div class="subforum-row">
                            <div class="subforum-icon subforum-column center">
                                <i class="fa fa-car center"></i>
                            </div>
                            <div class="subforum-description subforum-column">
                                <h4><a href="newtask">Assign new task (For teacher)</a></h4>
                                <p>A sample teacher assign task page</p>
                            </div>
                            <div class="subforum-stats subforum-column center">
                                <span>24 Posts | 12 Topics</span>
                            </div>
                            <div class="subforum-info subforum-column">
                                <b><a href="newtask">Last post</a></b> by <a href="newtask">hi123</a>
                                <br>on <small>17 Mar 2021</small>
                        </div>
                            </div>
                        </div>
                                </div>
                </div>
            </div>







        </script>


        <div class="subforum">
            <div class="subforum-title">
                <h1>CUPS Homepage</h1>
            </div>
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa fa-car center"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="newthread">For student</a></h4>
                    <p>A sample student ask question page</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>24 Posts | 12 Topics</span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="newthread">Last post</a></b> by <a href="newthread">stu</a>
                    <br>on <small>17 Mar 2021</small>
                </div>
            </div>
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa fa-car center"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="newtask">For teacher</a></h4>
                    <p>A sample teacher assign task page</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>24 Posts | 12 Topics</span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="newtask">Last post</a></b> by <a href="newtask">hi123</a>
                    <br>on <small>17 Mar 2021</small>
                </div>
            </div>
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa fa-car center"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="#">Description Title</a></h4>
                    <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>24 Posts | 12 Topics</span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="">Last post</a></b> by <a href="">JustAUser</a>
                    <br>on <small>12 Dec 2020</small>
                </div>
            </div>
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa fa-car center"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="#">Description Title</a></h4>
                    <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>24 Posts | 12 Topics</span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="">Last post</a></b> by <a href="">JustAUser</a>
                    <br>on <small>12 Dec 2020</small>
                </div>
            </div>


        </div>

        <style>
        body { margin: 10px 60px; background-image: url('LandP_bg.jpg'); }

            a {
                text-decoration: none;
                color: black;
            }

            h1, h4, ol {
                margin: 0;
            }

            p {
                margin: 5px 0;
            }

            .top-bar {
                background-color: skyblue;
                padding: 0 40px;
            }

            .main {
                background-color: #F6F6EF;
                padding: 10px 15px;
            }

            .row {
                padding: 5px 0;
            }

            .bottom {
                display: flex;
                color: grey;
                font-size: 12px;
            }

            .timestamp {
                padding-right: 10px;
            }
        </style>
</body>