<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CUPS - New Content</title>
        <link rel="icon" href="CUPSicon1.ico" type="image/x-icon/">
        <link rel="stylesheet" href="Project.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
        <script src="AnswerPost.js"></script>
    </head>
    <body>
       <!-- Partial: Top navigation with search bar -->
        <!-- TODO: link the top buttons to relevent pages -->
        <nav class="sticky-top">
            <div class="topnav">
                <a href="/forum">
                    <img class="navicon" src="CUPSicon1.ico">
                </a>
                
                <a href="newthread" class="newpo"><b>New Post </b><i class="fa fa-edit"></i> </a>
                <div class="topnav-right">
                <!-- TODO: change href to other pages accordingly -->
                <a href="/profile"><i class="fa fa-user"></i></a>
                <a href="/logout"><i class="fa fa-sign-out"></i></a>
            </div>
            </div>
        </nav>
        <img class="navpic" src="navpic.jpg">
        <div class="content">
		<!-- remove comment submission
            <div class="top-bar">
                <h1>CUPS</h1>
            </div>
            <div class="webform">
                <div id="comments"> 
                    <div id="c1001" class="d-flex"></div>
                    <hr>
                </div>
                <form class="formcontent">
                    <fieldset>
                        <legend>Add your comment:</legend>
                        <div class="mb-3">
                            <label for="new-comment" class="form-label">Comment</label>
                            <textarea class="form-control" id="new-comment" rows="3"></textarea>
                        </div>
                        <button type="button" class="btn" onclick="processform()">Add comment</button>
                    </fieldset>
                </form>
            </div>
			-->
            <div class="top-bar">
                <h1>Ask your question!</h1>
            </div>
            <div class="main">
                <form method = "POST" class="formcontent" action="/process-newthread" enctype="multipart/form-data"> 
                    <fieldset>
                        <legend>New Post:</legend>
                        <label for="qname">Question:</label>
                        <input type="text" id="qname" name="question"><br><br>

                        <label for="hashtag">Class:</label>
                        <input type="text" id="class" name="class"><br><br>
                        <label for="textcontent">Content:</label>
                        <textarea name="content" id="content"  cols="50" rows="10"></textarea>
                        <br><br>

                        <label for="graphics">Select image:</label>
                        <input type="file" id="graphics" name="graphics" accept="image/*">
                        <br /><br />

                        <label for="credit">Credit offer (1-10):</label>
                        <input type="number" min="1" max="10" id="credit" name="credit"><br><br>
                        <input class="btn" type="submit" name="" value="Submit">
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="footer">
            This website was built on <time>2021-03-19</time>. <b>© CSCI3100 Group F6</b>
        </div>
    </body>
</html>
