<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="CUPSicon1.ico" type="image/x-icon/">
    <title>Edit</title>
    <link rel="stylesheet" type="text/css" href="LandP_style1.css">
    <% if(locals.wrong) { %>
        <script src="test_warning.js"></script>
    <% } %>
    <% if(locals.verify) { %>
        <script>alert("Email has already sent to your email address. Please check.")</script>
    <% } %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<!-- Partial: Top navigation with search bar -->
        <!-- TODO: link the top buttons to relevent pages -->
        <nav class="sticky-top">
            <div class="topnav">
                <a href="/forum">
                    <img class="navicon" src="CUPSicon1.ico">
                </a>
                <div class="search-container">
                    <form>
                        <input type="text" id="searchInput" placeholder="Search title or content...">
                        <button type="button" onclick="search()" ><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <a href="#createPost" class="newpo"><b>New Post </b><i class="fa fa-edit"></i> </a>
                <div class="topnav-right">
                <!-- TODO: change href to other pages accordingly -->
                <a href="#profile"><i class="fa fa-user"></i></a>
                <a href="#logout"><i class="fa fa-sign-out"></i></a>
            </div>
            </div>
        </nav>
    <div id="app">
    <div class="content">
        <!-- A container for login -->
    <div class="login-box">
        <!-- <h1>Login</h1> -->
        

            <form method="POST" action="/process-edit">
                <div class="textbox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" placeholder="Username" name="username" value="">
                </div>
        
                <div class="textbox">
                    <i class="fa fa-lock"></i>
                    <input type="text" placeholder="YearX Major" name="info" value="">
                </div>
                
                <input class="btn" type="submit" name="" value="Submit">
                
            </form>
        
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
            },
            methods: {
               handleClickBtn1:function(){
                   this.currentStatus = true;                  
               },
               handleClickBtn2:function(){
                    this.currentStatus = false;
               },
            }
        });
    </script>
    <br>
    <div class="footer">
      This website was built on <time>2021-03-19</time>. <b>© CSCI3100 Group F6</b>
    </div>
</body>
</html>
