<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="LandP_style1.css">
    <% if(locals.wrong) { %>
        <script src="test_warning.js"></script>
    <% } %>
    <% if(locals.verify) { %>
        <script>alert("Email has already sent to your email address. Please check.")</script>
    <% } %>
</head>
<body>
    <div id="app">
        <!-- A container for login -->
    <div class="login-box">
        <!-- <h1>Login</h1> -->
        <div class="btn-box" >
            <button type="button" class="toggle-btn" 
            v-on:click="handleClickBtn1"
            v-bind:class="currentStatus ? 'active' : ''">Log in</button>
            <button type="button" class="toggle-btn" 
            v-on:click="handleClickBtn2"
            :class="!currentStatus ? 'active' : ''">Register</button>
        </div>
        
        <div v-if="currentStatus === true">
            <form method="POST" action="/process-login">
                <div class="textbox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" placeholder="Username" name="username" value="">
                </div>
        
                <div class="textbox">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password" name="password" value="">
                </div>
                
                <input class="btn" type="submit" name="" value="Sign in">
            </form>
        </div>
        
        <div v-else>
            <form method="POST" action="/process-registration">
                <div class="textbox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" placeholder="Username" name="name" value="">
                </div>
        
                <div class="textbox">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password" name="password" value="">
                </div>
                <div class="textbox">
                    <i class="fa fa-lock"></i>
                    <input type="text" placeholder="SID" name="uid" value="">
                </div>
                <div class="textbox">
                    <i class="fa fa-lock"></i>
                    <input type="text" placeholder="CUHK email" name="email" value="">
                </div>
                <input class="btn" type="submit" name="" value="Register">
            </form>
        </div>
        
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                currentStatus: true,
            },
            methods: {
               handleClickBtn1:function(){
                   this.currentStatus = true;                  
               },
               handleClickBtn2:function(){
                    this.currentStatus = false;
               },
            }
        });
    </script>
</body>
</html>