<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="profile_style.css">
</head>
<body>
  <div id="app">
    <div class="head">
      <img src="LandP_bg.jpg" alt="">
      <div class="container">
        <div id="name">Justice</div>
        <div id="info">Year2 Computer Science</div>
      </div>
    </div>
    <div class="left">
      <div class="item" @click="handleClick(index)" v-for="(item, index) in list">{{item}}</div>
    </div>
    <div class="main">
      <!-- this part will be changed according to user's clicking on the left side  -->
       <!-- Here we will create some components and display them -->
       <!-- if currentChoice is 'My Post', display the user's posts -->
       <div v-if="currentChoice == 0">
        <div v-for=" item in 5" class="myPost">
          <h3>Post{{item}}</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium assumenda nihil cum rem quidem. Error eveniet sit modi repellat, dolore sapiente adipisci, natus quam amet nemo, illum expedita mollitia! In earum vitae delectus reiciendis neque ipsum, laboriosam asperiores ducimus laborum nobis consequatur deleniti corporis, sed recusandae, quos itaque nemo enim numquam qui. Quod dignissimos explicabo beatae nobis, voluptatem facilis, modi aut voluptates amet, maiores impedit! Pariatur officia voluptatum ipsa minima illum at, magnam praesentium doloremque nemo aspernatur, maiores ducimus fuga, esse illo ex omnis ipsam quis voluptates reprehenderit voluptate nobis dolores debitis laborum? Natus praesentium placeat sunt sit eligendi alias eum hic, autem magnam fugit ab adipisci, rem provident soluta voluptatem maxime debitis in ipsam quod perferendis cum. Hic veritatis quam, corrupti esse unde voluptatibus consequatur eos, omnis est nesciunt quas iste. Dolorem quis asperiores nisi? Voluptatibus corrupti dolorum accusantium officiis omnis cumque ipsa iure corporis, commodi ab. Nam facere ab eligendi aliquid, eaque veritatis modi saepe ipsum reiciendis ducimus, amet optio expedita alias vel non, quod itaque porro suscipit maiores. Quaerat quibusdam sit eligendi ab alias ad, enim vero quis, dolor tenetur excepturi doloremque ut. Porro vero soluta voluptate, harum et veritatis itaque, iure minus, repudiandae doloremque magnam saepe?
        </div>
       </div>
       <!-- if currentChoice is 'Following', display the user's following posts-->
       <div v-else-if="currentChoice == 1">
        <div v-for=" item in 3" class="myPost">
          <h3>Following Post{{item}}</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium assumenda nihil cum rem quidem. Error eveniet sit modi repellat, dolore sapiente adipisci, natus quam amet nemo, illum expedita mollitia! In earum vitae delectus reiciendis neque ipsum, laboriosam asperiores ducimus laborum nobis consequatur deleniti corporis, sed recusandae, quos itaque nemo enim numquam qui. Quod dignissimos explicabo beatae nobis, voluptatem facilis, modi aut voluptates amet, maiores impedit! Pariatur officia voluptatum ipsa minima illum at, magnam praesentium doloremque nemo aspernatur, maiores ducimus fuga, esse illo ex omnis ipsam quis voluptates reprehenderit voluptate nobis dolores debitis laborum? Natus praesentium placeat sunt sit eligendi alias eum hic, autem magnam fugit ab adipisci, rem provident soluta voluptatem maxime debitis in ipsam quod perferendis cum. Hic veritatis quam, corrupti esse unde voluptatibus consequatur eos, omnis est nesciunt quas iste. Dolorem quis asperiores nisi? Voluptatibus corrupti dolorum accusantium officiis omnis cumque ipsa iure corporis, commodi ab. Nam facere ab eligendi aliquid, eaque veritatis modi saepe ipsum reiciendis ducimus, amet optio expedita alias vel non, quod itaque porro suscipit maiores. Quaerat quibusdam sit eligendi ab alias ad, enim vero quis, dolor tenetur excepturi doloremque ut. Porro vero soluta voluptate, harum et veritatis itaque, iure minus, repudiandae doloremque magnam saepe?
        </div>
       </div>
       <!-- if currentChioce is 'Likes', display the user's liked posts -->
       <div v-else-if="currentChoice == 2">
        <div v-for=" item in 8" class="myPost">
          <h3>Liked Post{{item}}</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium assumenda nihil cum rem quidem. Error eveniet sit modi repellat, dolore sapiente adipisci, natus quam amet nemo, illum expedita mollitia! In earum vitae delectus reiciendis neque ipsum, laboriosam asperiores ducimus laborum nobis consequatur deleniti corporis, sed recusandae, quos itaque nemo enim numquam qui. Quod dignissimos explicabo beatae nobis, voluptatem facilis, modi aut voluptates amet, maiores impedit! Pariatur officia voluptatum ipsa minima illum at, magnam praesentium doloremque nemo aspernatur, maiores ducimus fuga, esse illo ex omnis ipsam quis voluptates reprehenderit voluptate nobis dolores debitis laborum? Natus praesentium placeat sunt sit eligendi alias eum hic, autem magnam fugit ab adipisci, rem provident soluta voluptatem maxime debitis in ipsam quod perferendis cum. Hic veritatis quam, corrupti esse unde voluptatibus consequatur eos, omnis est nesciunt quas iste. Dolorem quis asperiores nisi? Voluptatibus corrupti dolorum accusantium officiis omnis cumque ipsa iure corporis, commodi ab. Nam facere ab eligendi aliquid, eaque veritatis modi saepe ipsum reiciendis ducimus, amet optio expedita alias vel non, quod itaque porro suscipit maiores. Quaerat quibusdam sit eligendi ab alias ad, enim vero quis, dolor tenetur excepturi doloremque ut. Porro vero soluta voluptate, harum et veritatis itaque, iure minus, repudiandae doloremque magnam saepe?
        </div>
       </div>
       <!-- if currentChoice is 'My Credit', display the user's credit balance and income expenditure records -->
       <div v-else>
        <div class="credit">
          Current credit is {{currentCredit}}
        </div>
        <!-- Here is just a demo, later the records will introduce from the database -->
        <div class="records">
          <div v-for="item in 10" class="incomeRecords">
            Income 10 credits from Post 996 at Jan 1st, 2020
          </div>
          <div v-for="item in 10" class="expenseRecords">
            Cost 10 credits on Post 886 at Jan 1st, 2020
          </div>
        </div>
       </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        list: ['My Post', 'Following', 'Likes','My Credits'],
        currentChoice: 0,
        currentCredit: 320,
      },
      methods: {
        handleClick(e){
          this.currentChoice = e;
        }
      }
    })
  </script>
</body>
</html>